<%- include("partials/header.ejs") %> <% if (posts.length) { %>
<div class="container" id="blog">
  <% for (const post of posts) { %>
  <div class="row border-bottom pt-4 pb-4">
    <div class="col-11">
      <h2><a href="/<%= post.id %>"><%= post.title %></a></h2>
      <p class="date"><%= post.date %></p>
      <p><%- post.body %></p>
    </div>
    <div class="col-1 end">
      <form class="" method="get" action="/<%= post.id %>">
        <button class="btn btn-outline-primary action-btn" type="submit">
          ✎
        </button>
      </form>
      <form method="post" action="/delete/<%= post.id %>">
        <button class="btn btn-outline-danger action-btn" type="submit">
          ⓧ
        </button>
      </form>
    </div>
  </div>
  <% } %>
</div>
<% } else { %>
<div class="centered mb-3 pb-3">
  <p class="big">💔</p>
  <form method="get" action="/post">
    <button class="btn btn-primary" type="submit">Add a post</button>
  </form>
</div>
<% } %> <%- include("partials/footer.ejs") %>
